yandex_cloud_id                 = "<your_yandex_cloud_id>"
yandex_folder_id                = "<your_yandex_folder_id>"
yandex_service_account_key_file = "<absolute_path_to_sa_key_json>"

cluster_name           = "stage-k8s"
availability_zone_name = "ru-central1-a"

ssh_allowed_cidr = "<your_ip>/32"
ssh_public_key   = "ssh-ed25519 <your_public_key>"

control_plane_count = 3
worker_count        = 2

platform_id          = "standard-v3"
control_plane_cores  = 2
control_plane_memory = 4
worker_cores         = 2
worker_memory        = 4

network_name       = "stage-k8s-network"
subnet_name        = "stage-k8s-subnet"
subnet_description = "STAGE subnet for k8s nodes"
subnet_address     = "10.20.2.0/24"
fip_name           = "stage-k8s-fip"

security_group_name        = "stage-k8s-sg"
security_group_description = "Security group for stage k8s nodes"

image_family = "ubuntu-2204-lts"
user_name    = "k8s-user"

boot_disk_size = 40
boot_disk_type = "network-ssd"

enable_snat_gateway   = true
snat_gateway_name     = "stage-k8s-snat"
snat_route_table_name = "stage-k8s-snat-rt"
