yandex_cloud_id                 = "<your_yandex_cloud_id>"
yandex_folder_id                = "<your_yandex_folder_id>"
yandex_service_account_key_file = "<absolute_path_to_sa_key_json>"

cluster_name           = "prod-k8s"
availability_zone_name = "ru-central1-a"

ssh_allowed_cidr = "<your_ip>/32"
ssh_public_key   = "ssh-ed25519 <your_public_key>"

control_plane_count = 3
worker_count        = 3

platform_id          = "standard-v3"
control_plane_cores  = 4
control_plane_memory = 8
worker_cores         = 4
worker_memory        = 8

network_name       = "prod-k8s-network"
subnet_name        = "prod-k8s-subnet"
subnet_description = "PROD subnet for k8s nodes"
subnet_address     = "10.30.2.0/24"
fip_name           = "prod-k8s-fip"

security_group_name        = "prod-k8s-sg"
security_group_description = "Security group for prod k8s nodes"

image_family = "ubuntu-2204-lts"
user_name    = "ubuntu"

boot_disk_size = 60
boot_disk_type = "network-ssd"

enable_snat_gateway   = true
snat_gateway_name     = "prod-k8s-snat"
snat_route_table_name = "prod-k8s-snat-rt"

enable_vpn_gateway             = true
vpn_gateway_name               = "prod-k8s-vpn"
vpn_gateway_cores              = 2
vpn_gateway_memory             = 2
vpn_gateway_boot_disk_size     = 20
vpn_fip_name                   = "prod-k8s-vpn-fip"
vpn_security_group_name        = "prod-k8s-vpn-sg"
vpn_security_group_description = "Security group for WireGuard VPN gateway"
vpn_port                       = 51820
vpn_server_address             = "10.86.0.1/24"
vpn_client_address             = "10.86.0.2/32"
vpn_server_private_key         = "<wireguard_server_private_key_base64>"
vpn_client_public_key          = "<wireguard_client_public_key_base64>"
